.DS_Store
*.userprefs
*.user
*.suo
*.quicktest
bin
obj
test-results
*.ide

src/packages/

# Enable "build/" folder in the NuGet Packages folder since NuGet packages use it for MSBuild targets
!src/packages/*/build/