.DS_Store
*.userprefs
*.user
*.suo
*.quicktest
bin
obj
test-results
*.ide
/src/packages
/src/Xamarin.Auth.Core/RedirAuth.cs
/samples/Key.cs
*project.lock.json
/samples/Xamarin.Auth.Sample.Android/packages/SharpSerializer.PCL.2.18.7
