; The configuration file for Cake.

;-------------------------------------------------------------------------------
; NuGet Download Url
; This allows the control of where Cake downloads NuGet packages from when 
; using the addin and tool preprocessor directives. This can be useful when 
; it is necessary to work in an offline mode, where direct access to nuget.org 
; is not available.
; 
; Default Value
; https://packages.nuget.org/api/v2

; Environment Variable Name
; CAKE_NUGET_SOURCE

; ini File Contents
; [Nuget]
; Source=http://myfeed/nuget/

; Direct Argument
; cake.exe --nuget_source=http://myfeed/nuget/


;-------------------------------------------------------------------------------
; Roslyn NuGet Download Url
; This allows the control of where Cake downloads the required Roslyn NuGet 
; packages. This can be useful when it is necessary to work in an offline mode, 
; where direct access to nuget.org is not available.
; 
; Default Value
; https://packages.nuget.org/api/v2

; Environment Variable Name
; CAKE_ROSLYN_NUGETSOURCE

; ini File Contents
; [Roslyn]
; NuGetSource=https://mycustomurl

; Direct Argument
; cake.exe --roslyn_nugetsource=http://mycustomurl


;-------------------------------------------------------------------------------
; Tools Path
; This allows the configuration of the tools folder which is used by Cake when 
; restoring tools.
; 
; Default Value
; ./tools
; Environment Variable Name
; CAKE_PATHS_TOOLS

; ini File Contents
; [Paths]
; Tools=./tools

; Direct Argument
; cake.exe --paths_tools=./tools

;-------------------------------------------------------------------------------
; Addins Path
; This allows the configuration of the Addins folder which is used by Cake when 
; restoring Addins.
; 
; Default Value
; ./tools/Addins

; Environment Variable Name
; CAKE_PATHS_ADDINS

; ini File Contents
; [Paths]
; Addins=./tools/Addins

; Direct Argument
; cake.exe --paths_addins=./tools/Addins


;-------------------------------------------------------------------------------
; Modules Path
; This allows the configuration of the Modules folder which is used by Cake when 
; loading custom Modules.
; 
; Default Value
; ./tools/Modules

; Environment Variable Name
; CAKE_PATHS_MODULES

; ini File Contents
; [Paths]
; Modules=./tools/Modules

; Direct Argument
; cake.exe --paths_modules=./tools/Modules


;-------------------------------------------------------------------------------
; Skip Verification
; If any breaking changes are introduced to Cake, we'll set the minimum supported 
; version of the Cake.Core assembly, any addin/assembly that references an older 
; version of Cake.Core will generate an exception and ultimately abort the 
; execution of the script. This is to avoid runtime errors during execution of the 
; script.
; 
; But if you really need to use an addin/assembly and have verified that the breaking 
; change introduced doesn't concern the addin/assembly directly, i.e. it doesn't use 
; a removed property or changed interface, for this scenario we'll allow you to 
; temporarily opt-out of the assembly verification until addin/assembly author has 
; released a version of the assembly targeting the minimum required version of 
; Cake.Core.
; 
; A word of caution, this setting is global for all addins/assemblies your script 
; references and should therefore be considered a temporary quick fix.
; 
; Default Value
; false

; Valid Values
; true
; or
; false

; Environment Variable Name
; CAKE_SETTINGS_SKIPVERIFICATION

; ini File Contents
[Settings]
SkipVerification=true

; Direct Argument
; cake.exe --settings_skipverification=true