<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.DotNet.BuildTools.GenAPI" version="1.0.0-beta-00081" targetFramework="net45" />
  <package id="PCLCrypto" version="2.0.147" targetFramework="net45" />
  <package id="PInvoke.BCrypt" version="0.5.184" targetFramework="net45" />
  <package id="PInvoke.Kernel32" version="0.5.184" targetFramework="net45" />
  <package id="PInvoke.NCrypt" version="0.5.184" targetFramework="net45" />
  <package id="PInvoke.Windows.Core" version="0.5.184" targetFramework="net45" />
  <package id="Validation" version="2.4.22" targetFramework="net45" />
</packages>